<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEDC SCTCE</title>
    <link rel="icon" href="../static/icons/IEDC NEW LOGO 1.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/bootstrap-4.0.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/loginstyle.css">
</head>
<body>
    <div class="leftSide">
        <div class="totalImageWeb">
            <img src="../static/images/sct img web.jpg" alt="Picture of college" class="sctImage">
            <img src="../static/images/grey.jpg" alt="" class="darkBox">
        </div>
        <div class="totalImageMob">
            <img src="../static/images/sct img mob.jpg" alt="Picture of college" class="sctImage">
            <img src="../static/images/black.jpg" alt="" class="darkBox">
        </div>
        <div class="leftContents">
            <img src="../static/icons/IEDC NEW LOGO 1.svg" alt="IEDC SCTCE logo" class="iedcSctIcon">
            <p class="iedcSct">IEDC SCTCE</p>
        </div>
    </div>
    <div class="rightSide">
        <div class="rightContent">
            <p class="heading">Admin Login</p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
            </div>
            {% endif %}
            {% endwith %}
            <form method="post" action="/loginv">
            <div class="textBoxes">
                <div class="textBox">
                    <p class="fieldName">Username</p>
                    <input type="text" name="username" class="inputBox">
                </div>
                <div class="textBox">
                    <p class="fieldName">Password</p>
                    <input type="password" name="password" class="inputBox">
                </div>
            </div>
            <button type="submit" class="btn btn-success login">Login</button>
            </form>
        </div>
    </div>
    <div class="mobDisplay">
        <p class="errorMsg">This website is not available in mobile</p>
        <img src="../static/images/Coder.svg" alt="" class="coderBoy">
        <p class="msg">Try using a PC</p>
    </div>
    <script src="../static/bootstrap-4.0.0/slim.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>   
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>