<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Upstack</title>
    <link rel="stylesheet" href="../static/css/error-page.css">
</head>
<body>
    <div class="theBody">
        {% if moonjikko == 1 %}
        <h2 style="color: red">Try another method!</h2>
        {% else %}
        <h2 style="color: red">Due to technical errors UP STACK game has come to an end. The Winners will be calculated based on the score's till now. The results shall be put up soon.Thank you for enormous support. And sorry for the trouble.
            The IEDC official site will still be up. Stay tuned for more updates.</h2>
        {% endif %}
    </div>        
</body>
</html>