<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events-IEDC SCTCE</title>
    <link rel="icon" href="../static/icons/IEDC NEW LOGO 1.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/event-style.css">
</head>
<body>
    <div class="bg">
        <img src="../static/images/Events Page/College Bg.svg" alt="" class="college-bg-pic">
        <div class="dark-layer"></div>
    </div>
    <div class="header">
        <div class="main-header">
            <div class="title-and-arrow">
                <a href="/"><img src="../static/images/Events Page/back-arrow.svg" alt="" class="back-arrow"></a>
                <p class="title">Events</p>
            </div>
            <div class="search-bar">
                <input type="text" class="search-box" placeholder="Search events">
                <button><img src="../static/images/Events Page/search-icon.svg" alt="" class="search-icon"></button>
            </div>
        </div>
        <div class="tags-header">
            <button class="active-tag tag">All Events</button>
            <button class="tag">Live Now</button>
            <button class="tag">Coming Soon</button>
            <button class="tag">Core Events</button>
            <button class="tag">Workshop & Quizzes</button>
            <button class="tag">Non-Technical</button>
            <button class="tag">Talks</button>
        </div>
    </div>
    <div class="event-details">
        <div class="event" id="Start_up_101">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Start Up 101 Powerpoint Competition.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Start Up 101 Powerpoint Competition</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Start Up 101 Powerpoint Competition</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">“𝘐𝘧 𝘺𝘰𝘶’𝘳𝘦 𝘴𝘵𝘢𝘳𝘵𝘪𝘯𝘨 𝘴𝘰𝘮𝘦𝘵𝘩𝘪𝘯𝘨 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘰𝘸𝘯, 𝘺𝘰𝘶 𝘣𝘦𝘵𝘵𝘦𝘳 𝘩𝘢𝘷𝘦 𝘢 𝘱𝘢𝘴𝘴𝘪𝘰𝘯 𝘧𝘰𝘳 𝘪𝘵. "
                    ~𝘚𝘢𝘭𝘭𝘪𝘦 𝘒𝘳𝘢𝘸𝘤𝘩𝘦𝘤𝘬
                    <br>
                    𝗜𝗘𝗗𝗖 𝗦𝗖𝗧𝗖𝗘 is all fired up to let you guys know about our upcoming event
                    🌟𝙎𝙩𝙖𝙧𝙩𝙪𝙥 101🌟
                    <br>
                    Startup 101 is a Power point Presentation making competition on *How to build your own start up company.*
                    <br>
                    ⌛𝐃𝐞𝐚𝐝𝐥𝐢𝐧𝐞 𝐟𝐨𝐫 𝐬𝐮𝐛𝐦𝐢𝐬𝐬𝐢𝐨𝐧 : 9th July - 12.00 pm (Saturday)
                    ♦️ *Exclusive for SCTIANS*
                    <br>
                    ♦️Shortlisted participants will proceed to the final round which will be held on Saturday.
                    <br>
                    ♦️𝘾𝙚𝙧𝙩𝙞𝙛𝙞𝙘𝙖𝙩𝙚 and 𝙖𝙘𝙩𝙞𝙫𝙞𝙩𝙮 𝙥𝙤𝙞𝙣𝙩𝙨 will be provided for all participants.
                    <br>
                    🎁 Get ready to grab 𝐞𝐱𝐜𝐢𝐭𝐢𝐧𝐠 𝐜𝐚𝐬𝐡 𝐩𝐫𝐢𝐳𝐞𝐬!!!💸💰
                    <br>
                    📞 *Contact*:
                    Sangeetha: 90746 61636
                    Bhagya: 8921757920</p>
            </div>
        </div>
        <div class="event" id="Stochastic_Surge_Crypto_Trading_Competition">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Stochastic Surge Crypto Trading Competition.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Stochastic Surge Crypto Trading Competition</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Stochastic Surge Crypto Trading Competition</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Are you someone with a decent knowledge about crypto, Do you think you are good enough to perform crypto trading?
                    <br>
                    Prove it!!
                    <br>
                    Your success with cryptocurrencies depends on how you speculate the cryptocurrency price movements to buy and sell the underlying coins.
                    <br>
                    An online trading competition is to be organised as a part of Stochastic Surge, jointly conducted by IEDC SCTCE and CEST SCTCE . A program conducted through the Roostoo platform. The event is scheduled to take place for 24 hours from 12 pm on 12/02/2021 to 13/02/2021. Participants can put their basic knowledge of coins and trading instincts to the test. An interesting cash prize awaits the winner!! 🎉
                    <br>
                    Trade using virtual money provided and get back home with prize money worth 2k💃🏽💃🏽
                    <br>
                    Why are you still here?
                    Go register!!
                    <br>
                    Registration fee: ₹50
                    GPay Number: +918848945042
                    <br>
                    For any queries
                    Contact
                    <a href="https://wa.me/+917356922413">Dennis Jose</a>
                    <br>
                    <a href="https://wa.me/+919539234620">Jayanth</a>
                </p>
            </div>
        </div>
        <div class="event" id="Call_to_Arms">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Call to Arms.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Call to Arms</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Call to Arms</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">"The strength of the team is each individual member.The strength of each member is the team" ~ Phil Jackson
                    <br>
                    Hey folks!
                    <br>
                    We are here with an amazing event exclusively for our own iedc sctce members, CALL TO ARMS!!
                    <br>
                    Let's have some bonding and a lots of fun
                    <br>
                    Stay tuned!!
                </p>
            </div>
        </div>
        <div class="event" id="Stochastic_Surge_Quiz_Competition">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Stochastic Surge Quiz Competition.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Stochastic Surge Quiz Competition</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Stochastic Surge Quiz Competition</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Do You think You Know The Market? How well do you understand the Indian stock market?
                    <br>
                    *Prove it!!*
                    <br>
                    Well, your success in the stock market depends on how you invest and react to different market situations.If you are interested in the stock market, this is the place to showcase your abilities.🔥
                    <br>
                    As part of our mega event _*Stochastic Surge*_, jointly conducted by IEDC SCTCE and CEST SCTCE is hosting a _*Quiz competition*_ . A brief quiz where you can test your knowledge on stock market, trading and put your ‘Investing Instincts‘ to test. An interesting cash prize and other exciting opportunities awaits for the winner!!🎉
                    <br>
                    So why are you still here?
                    Go register!!
                    <br>
                    *Registration fee:₹20/-*
                    <br>
                    Last Date For Registration⏳ : 06-02-2022.
                    <br>
                    *Gpay number for registration fee:* 8848945042
                    <br>
                    For more details and queries contact☎️:
                    <br>
                    Abhiram S : 9400962483
                    Sangeetha B : 90746 61636
                </p>
            </div>
        </div>
        <div class="event" id="Stochastic_Surge_Webinar_on_Stock_Market">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Stochastic Surge Webinar on Stock Market.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Stochastic Surge Webinar on Stock Market</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Stochastic Surge Webinar on Stock Market</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">"Risk comes from not knowing what you are doing"
                    -Warren Buffett
                    <br>
                    ✨Interested to learn the secret formula of identifying Multibagger Stocks?
                    <br>
                    ✨Want to learn Stock Market and become financially independent?
                    <br>
                    Then don't WAIT‼️ take a step forward to learn those from the experts.
                    <br>
                    IEDC SCTCE in collaboration with @cest_sctce is here with Stochastic Surge,
                    Webinar on stock market by Sarath Chandran, CEO , Stock Conclusions pvt ltd.
                    <br>
                    The session covers up the following:
                    <br>
                    ▪️What is Stock Market?
                    ▪️How to invest in Stock?
                    ▪️How to identify and pick fundamentally and technically Sound Stock?
                    ▪️When to exit from a Stock?
                    <br>
                    Registration is completely free🤩
                    <br>
                    🗓️: February 5,Saturday
                    🕑: 7pm
                    Venue: Google Meet
                    <br>
                    Last date of registration : February 4 , Friday
                    <br>
                    What are you waiting for???
                    <br>
                    Hurry up register now‼️
                    <br>
                    ☎️ Any Queries?
                    Contact:
                    Denis: +91 73569 22413
                    Jayanth: +919539234620
                    #StochasticSurge
                </p>
            </div>
        </div>
        <div class="event" id="Stochastic_Surge_Campus_Ambassdor_call">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Stochastic Surge Campus Ambassdor call.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Stochastic Surge Campus Ambassdor call</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Stochastic Surge Campus Ambassdor call</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">"It is the job of the market to turn the base material of our emotions into gold."
                    -Andrei Codrescu
                    <br>
                    Do you have what it takes to influence other?Are you the most confident at your decisions? Do you have the courage to face the unexpected.
                    <br>
                    Then,look nowhere folks
                    <br>
                    IEDC SCTCE along with CEST SCTCE is here to provide a platform for you! 💃💃
                    We are calling for Campus Ambassadors from colleges to promote our event STOCHASTIC SURGE, a stock market based competition, within your peers.
                    Most importantly what awaits at the doorstep is not just an exciting event but even exciting prizes for the winners🎁
                    Let's discover the hidden investor in you. Let's unleash the billionaire dream and get a step closer to making it a reality.
                    <br>
                    The best part is that you will be certified for your presence. What are you waiting for. 💃💃
                    <br>
                    Fasten up folks.❤️‍🔥
                    Last Date :02 February 2022 at 9 am.
                    <br>
                    Link for registration is provided below 👇:
                    https://docs.google.com/forms/d/e/1FAIpQLSfDP4FA9sxbPtVSHd0nhSsuX36-fJpVH3gfUv8RWrd3bEgFdw/viewform?usp=sf_link
                    <br>
                    For further queries:
                    Contact
                    <br>
                    Jayalakshmi : 8330007300.
                    Vinayak : 9895769788.
                </p>
            </div>
        </div>
        <div class="event" id="Stochastic_Surge">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Stochastic Surge.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Stochastic Surge</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Stochastic Surge</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">“We don’t have to be smarter than the rest. We have to be more disciplined than the rest.”_
                    <br>
                    Are you a stock market enthusiast?
                    <br>
                    Do you want to be financially independent but do not know where to begin.
                    Well……
                    IEDC SCTCE, in collaboration with CEST SCTCE, is coming up with yet another opportunity for you.
                    STOCHASTIC SURGE is coming for you with much-needed trading knowledge and exciting prizes….
                    <br>
                    Stay Tuned
                </p>
            </div>
        </div>
        <div class="event" id="Image_Processing_using_OpenCV">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Image Processing using OpenCV.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Image Processing using OpenCV</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Image Processing using OpenCV</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Get Hands on with Image Processing, and bring the best out of your photos using your creativity.
                    This is your best chance to make the perfect comeback with awesome processing skills !
                    <br>
                    The importance of image processing is highlighted elegantly and IEDC is here with the perfect stepping stone for you to experience that !
                    <br>
                    Image Processing Using OpenCV
                    <br>
                    IEDC SCTCE is here with a bootcamp on Image Processing as a part of Innovation Premier League .💥
                    <br>
                    The bootcamp will be conducted on December 10th at 7 PM.
                    <br>
                    Limited seats only❕❕
                    <br>
                    So register as soon as possible💥.
                    <br>
                    📌You can earn Prayatna points through these events which will help you in advance to IEDC Summit. But be sure to register at the innovators portal.
                    <br>
                    📌E-certificates with valid KTU points will be provided to all registered participants.
                    <br>
                    Deadline: 9th December 2021
                    <br>
                    So do your part by registering in the link given below👇:
                    <br>
                    Co ordinators 📈
                    Gayathri - 9895032297
                    Kavya - +91 85475 75815
                </p>
            </div>
        </div>
        <div class="event" id="Panelx">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Panelx.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Panelx</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Panelx</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Do you know what works best if you are fearful or confused about your next steps into professional life?_
                    <br>
                    You heard it right, Three professionals from distinct domains are here to turn the student in you into a professional!
                    <br>
                    A face to face interactive panel discussion with 3 professionals from distinct domains to acknowledge the requirements and problems in industries and how to be career prepared for your future!
                    <br>
                    IEDC SCTCE is here with its first ever offline panel discussion for you after the lockdown,
                    <br>
                    ✨ PANELX ✨
                    <br>
                    To help you with eveloping mindset towards transition from a student to professional culture
                    <br>
                    Presenting,
                    <br>
                    Sanju Mathew
                    (CEO, CODEOFDUTY INNOVATIONS)
                    <br>
                    Nanma Gireesh
                    (Co-founder, NESTABIDE)
                    <br>
                    Gaurav Nandu
                    (Marketing Head, CODEOFDUTY INNOVATIONS)
                    <br>
                    Date : December 10th, Friday
                    Time: 12.45 PM.
                    Venue: Seminar Hall
                    <br>
                    ⚡Isn't it time to unleash the professional inside you and use this discussion to get ahead in your career!
                    <br>
                    For any further queries contact👇:
                    Co ordinators 📈
                    <br>
                    Arundhathi: 96458 96675
                    Kavya: 8547575815
                </p>
            </div>
        </div>
        <div class="event" id="Pitch_A_Thon">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Pitch A Thon.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Pitch A Thon</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Pitch A Thon</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Too often we give our children answers to remember rather than problems to solve.
                    -- Roger Lewin
                    <br>
                    Do you believe you have what it takes to solve problems? Well, IEDC SCTCE is here with yet another competition for you providing an opportunity to showcase your talent as a part of Innovation Premier League, PITCH-A-THON.
                    <br>
                    PITCH-A-THON is an ideathon where the contestants will be given a problem statement, and they have to come up with a solution and market it.
                    <br>
                    The event will be conducted on 05-12-2021 at 6 PM, a team event, with 2 participants per team and will be judged by qualified personalities.
                    <br>
                    Limited seats only❕❕ So register as soon as possible💥.
                    <br>
                    Only One Member From Each Team Should Register❗
                    <br>
                    📌You can earn Prayatna points through these events, which will help you in advance to IEDC Summit. But be sure to register at the innovators portal.
                    <br>
                    📌E-certificates with valid KTU points will be provided to all registered participants.
                    <br>
                    Deadline: 03-12-2021
                    <br>
                    For any further queries, contact👇:
                    Coordinators 📈
                    Abhiram S - 8848945042
                    Nidhil Yasmin-7907189224
                </p>
            </div>
        </div>
        <div class="event" id="Truu_story_dude_speaker#4">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Truu story dude speaker4.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Truu story dude speaker#4</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Truu story dude speaker#4</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Delve deep into the Domain of Digital Marketing and Earn your Financial Freedom through Content Creation !!
                    💯
                    <br>
                    IEDC SCTCE is back and reloaded with an all-new edition of " Truu Story Dude" with the energetic Thanzeel Ashruf ,CEO and Founder of BCON Club from India's Silicon Valley.
                    <br>
                    Join us live on December 4th @ 8 pm.
                    <br>
                    Stay tuned 🔥
                </p>
            </div>
        </div>
        <div class="event" id="Figsho">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Figsho.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Figsho</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Figsho</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Attention designers‼️‼️
                    <br>
                    Are you passionate about graphics designing and aspire to be a top graphic designer one day but lacks the idea and correct tool?
                    <br>
                    Well, IEDC SCTCE in collaboration with @iedcgecbh is delighted to announce the next event in the Innovation Premier League "FIGSHO".
                    <br>
                    Don't miss out on this massive opportunity and register right now for the workshop
                    <br>
                    The workshop will be conducted on 27-11-2021 at 7 PM. The session will be handled by Ajith RT.
                    <br>
                    📌 You can earn Prayatna points through these events, which will help you in advance to IEDC Summit. But be sure to register at the innovators portal
                    <br>
                    📌E-certificates with valid KTU points will be provided to all registered participants
                    <br>
                    For further queries contact:
                    Adith - 6282510183
                    Hiba- 8891356365
                </p>
            </div>
        </div>
        <div class="event" id="Make_the_Bot">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Make the Bot.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Make the Bot</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Make the Bot</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">ALERT!🚨
                    The BOTS are taking over!!!🤖
                    <br>
                    Ever wondered how you get a quick and instant response while engaging with the customer service in the shopping and delivery apps you use? 📱
                    <br>
                    One answer- BOTS 🤖
                    <br>
                    Bots are simply programs that imitate human behaviour and performs repetitive tasks.
                    They can do anything – teach, play, search, broadcast, remind or connect 🖥️
                    <br>
                    We at IEDC SCTCE are thrilled to present MAKE THE BOT , hosted by ANANDHU S, who will guide you through the basics of coding for the development of a telegram bot .👨‍💻👩‍💻
                    <br>
                    DATE: 21ST SUNDAY NOVEMBER 2021
                    <br>
                    TIME: 7-8 pm
                    <br>
                    📌 You can earn Prayatna points through these events which will help you in advance to IEDC Summit. But be sure to register at the innovators portal.
                    <br>
                    📌E-certificates with valid KTU points will be provided to all registered participants
                    <br>
                    Limited seats only !!📢
                    <br>
                    For further queries contact👇
                    <br>
                    Jayalakshmi - 8330007300
                    Basim - 90619 94601
                </p>
            </div>
        </div>
        <div class="event" id="Meme_Competition">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Meme Competition.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Meme Competition</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Meme Competition</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">IPL Meme Competition
                    <br>
                    @iedc_kerala
                    #ipl #iedckerala
                </p>
            </div>
        </div>
        <div class="event" id="Introduction_to_Quadcopters">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Introduction to Quadcopters.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Meme Competition</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Meme Competition</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Hey folks!_
                    You might already be familiar about Drones after Rancho makes one in the cult-classic movie "3 Idiots".😉
                    <br>
                    Many of you might also be Photography-Fanatics and Techno Enthusiasts who have always pondered what's inside that flying machine.🤩
                    <br>
                    Well here's your chance to get a closer look at the workings, and even build one on your own, get familiar with the components, and you can build a prototype in the confines of your cozy little home!🥳
                    <br>
                    *IEDC SCTCE* is here with a webinar *Introduction to QUADCOPTER*, as a part of *Innovation Premier League.* 💥
                    <br>
                    This detailed webinar will be conducted by IEDC's Technical Head, ```Sanjay```
                    on *October 17* Sunday from *6.30 PM to 7.30 PM*.
                    <br>
                    📌You can earn Prayatna points through these events which will help you in advance to IEDC Summit. But be sure to register at the innovators portal.
                    📌E-certificates with valid KTU points will be provided to all registered participants.
                    <br>
                    *Limited seats only!*
                    <br>
                    *Register soon since the form will be closed within an hour!!*
                    For any further queries contact👇:
                    Amrutha : 82817 57565
                    K Abbiraam : 9995064859
                </p>
            </div>
        </div>
        <div class="event" id="Webinar_on_stock_market_Investing_for_Millenials">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Webinar on stock market.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Webinar on stock market Investing for Millenials</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Webinar on stock market Investing for Millenials</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Remember that series with an insane bgm? The series that just completed it's first anniversary? No points for guessing!
                    Yes! SCAM 1992
                    <br>
                    What a series that was! A series that introduced many millennials to stock market! If you haven't seen it yet, worry not, let's rather spend some time on making our money work for us! 💸
                    <br>
                    You heard it right, in the famous financial book "Rich dad Poor dad", the importance of making our money work for us is highlighted beautifully and IEDC here with the perfect stepping stone for you to do that!
                    <br>
                    And that is! Drumroll! 🥁
                    <br>
                    INVESTING FOR MILLENNIALS
                    By Aravind Roy : CEO, Institutional India.
                    <br>
                    IEDC SCTCE is here with a webinar on Stock Market for you as a part of Innovation Premier League .💥
                    <br>
                    ⚡Discover the very basics and place your first step towards a absolutely adventurous journey of numbers and timmings!
                    <br>
                    ⚡Isn't it time to unleash the wolf of Wall Street inside you and use this webinar to get knowledgeable in something that could lead to financially stability!
                    <br>
                    This life-changing workshop will be conducted on October 16 Saturday, 7PM
                    <br>
                    Limited seats only❕❕
                    <br>
                    So register as soon as possible💥.
                    <br>
                    📌You can earn Prayatna points through these events which will help you in advance to IEDC Summit. But be sure to register at the innovators portal.
                    <br>
                    📌E-certificates with valid KTU points will be provided to all registered participants.
                    <br>
                    Deadline: 14th October 2021
                    <br>
                    For any further queries contact👇:
                    <br>
                    Co ordinators 📈
                    Abhiram: 9400962483
                    Abhishek: 90202 08913
                </p>
            </div>
        </div>
        <div class="event" id="Workshop_on_Cyber_Security_and_Ethical_Hacking">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Workshop on Cyber Security anad Ethical Hacking.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Workshop on Cyber Security and Ethical Hacking</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Workshop on Cyber Security and Ethical Hacking</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Do you want to aspire right knowledge regarding the practice of protecting critical systems and sensitive information from digital attacks? Take a step forward.
                    Ensure digital resilience of your operations.✨❤️
                    <br>
                    *IEDC SCTCE* in collaboration with *Out of Syllabus of IEDC CEAL* is here with a cyber security workshop for you as a part of *Innovation Premier League* .💥
                    <br>
                    ⚡Discover our best-in-class cyber security approach.
                    <br>
                    The workshop will be conducted on *October 10* Sunday from *11 AM to 1 PM* .
                    <br>
                    *Limited seats only❕❕*
                    <br>
                    So register as soon as possible💥.
                    <br>
                    📌You can earn Prayatna points through these events which will help you in advance to IEDC Summit. But be sure to register at the innovators portal.
                    <br>
                    📌E-certificates with valid KTU points will be provided to all registered participants.
                    <br>
                    Deadline: 8th October 2021
                    <br>
                    For any further queries contact👇:
                    <br>
                    Jayalakshmi : 8330007300
                    Gayathri : 98950 32297                    
                </p>
            </div>
        </div>
        <div class="event" id="A_Prelude_to_IEDC_Summit">
            <div class="poster">
                <img src="../static/images/Events Page/Events/A Prelude to IEDC Summit.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">A Prelude to IEDC Summit</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">A Prelude to IEDC Summit</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">The Innovators Premier League (IPL) has begun in SCTCE, as announced by IEDC SCTCE.
                    <br>
                    The Innovators Premier League is a Kerala Startup Mission (KSUM) programme that aims to raise awareness of IEDC and its activities among students, develop a competitive and entrepreneurial culture among innovators, and generate a startup pipeline.
                    <br>
                    IPL is a series of events held at various levels where you can participate to get points and reach your ultimate destination, IEDC SUMMIT.🏅🏆
                    <br>
                    You might wonder what this IEDC SUMMIT is all about.
                    It's an exciting adventure full of challenges and competitions. You'll also gain insight into the thoughts of great people, as well as their perspectives on how to become better and brighter innovators.
                    <br>
                    At the institutional level, a variety of events will be held. Winners of these events are automatically entered into regional competitions, and depending on your performance, you may be invited to participate in the IEDC SUMMIT.
                    <br>
                    The following are the steps to take in order to participate:
                    1. Register yourself as a member under KSUM using the link: https://innovate.startupmission.in/#/register
                    <br>
                    2. Once you're registered, wait for the nodal officer's approval.
                    <br>
                    3. Following this, you can login using another link provided here:
                    https://students.startupmission.in/#/login
                    <br>
                    4.Participate in institution level competitions and events to earn Prayatna Points
                    <br>
                    5. Finally, it's off to the IEDC Summit!
                    <br>
                    For more details refer the following link: https://iedc.startupmission.in/ipl
                    <br>
                    So, get ready to bring your A-game, and we can't wait to see all of your creative ideas.
                    <br>
                    For further details contact:
                    Aarcha J R : 75939 19521
                    Darshan Dev : 9633894876                    
                </p>
            </div>
        </div>
        <div class="event" id="Rebuttal_Rebels">
            <div class="poster">
                <img src="../static/images/Events Page/Events/Rebuttal Rebels.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <!-- <h1 class="event-name">Rebuttal Rebels</h1> -->
                    <div class="name-extend">
                        <h1 class="event-name">Rebuttal Rebels</h1>
                        <button class="extend-btn"><img src="../static/images/Events Page/arrow.svg" alt="" class="extend-arrow"></button>
                    </div>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Are you a good speaker❓
                    Are you confident in expressing your views❓❓
                    Then a great opportunity is heading your way❗❕❗
                    <br>
                    IEDC SCTCE along with *LND Club SCTCE* is conducting an online debate competition REBUTTAL REBELS🎙️💥 on 15th & 16th of September 2021.
                    <br>
                    📌Competition will be a team event, with teams consisting of *2 persons*.
                    <br>
                    📌 Malayalam will be the preferred choice of language.
                    <br>
                    📌It will be comprised of several rounds.
                    <br>
                    For Further Queries👇🏻
                    <br>
                    Jyothika -7306367926
                    Sanjay - 8547549853                   
                </p>
            </div>
        </div>
    </div>    
</body>
</html>