<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEDC Game</title>
    <link rel="icon" href="../static/icons/IEDC NEW LOGO 1.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/intermediate.css">
</head>
<body>
    <div class="popup">
        <div class="popup-container">
            <form action="/intermediate" method="post">
                <p class="choose">Choose your class</p>
                <select id="classes" name="class">
                    <option value="R4A">R4A</option>
                    <option value="R2B">R4B</option>
                    <option value="R4A">R2A</option>
                    <option value="R4B">R2B</option>
                    <option value="R6">R6</option>
                    <option value="T2A">T2A</option>
                    <option value="T2B">T2B</option>
                    <option value="T4A">T4A</option>
                    <option value="T4B">T4B</option>
                    <option value="T6A">T6A</option>
                    <option value="T6B">T6B</option>
                    <option value="M2A">M2A</option>
                    <option value="M2B">M2B</option>
                    <option value="M4A">M4A</option>
                    <option value="M4B">M4B</option>
                    <option value="M6">M6</option>
                    <option value="B2">B2</option>
                    <option value="B4">B4</option>
                    <option value="B6">B6</option>
                    <option value="P4">P4</option>
                    <option value="P6">P6</option>
                    <option value="U2">U2</option>
                    <option value="U4">U4</option>
                    <option value="U6">U6</option>
                    <option value="other">Other</option>
                </select>
                <button class="submit-btn-game" type="submit">Start Game</button>
            </form>
        </div>
    </div>
    <a href="/" class="back-btn">
        <img src="../static/icons/arrow-mob-view.svg" alt="" class="back-arrow">
    </a>
</body>
</html>