<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description of your website/webpage, make sure you use keywords!" />
    <meta property="og:title" content="IEDC SCTCE" />
    <meta property="og:url" content="https://www.example.com/webpage/" />
    <meta property="og:description" content="Official website of Innovation and Entrepreneurship Development Centre Sree Chitra Thirunal College of Engineering" />
    <meta property="og:image" content="../static/images/IEDC-Meta-tag-icon.png" />
    <!-- <meta property="og:image" content="https://www.google.com/search?q=iedc+sctce&client=firefox-b-d&sxsrf=ALiCzsYC9cyR-M6--8RW_sHdw_Hh0EF4jg:1661752050106&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjIrZrlrOv5AhWRS2wGHY5dC-IQ_AUoAXoECAIQAw#imgrc=tp-hwytzdZ1IsM" /> -->
    <title>Home-IEDC SCTCE</title>
    <link rel="icon" href="../static/icons/IEDC NEW LOGO 1.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/bootstrap-4.0.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body id="theBody">
    <div class="toppest-element"></div>
    <div class="page-loader"></div>
    <div class="landing_page" id="home">
        <img src="../static/images/landing-image.svg" alt="" class="landing-image">
        <div class="iconset">
            <img src="../static/icons/IEDC NEW LOGO 1.svg" alt="IEDC SCTCE icon" class="iedc-logo">
            <img src="../static/icons/sct-white.svg" alt="SCTCE icon" class="sct-logo">
        </div>
        <div class="navbar">
            <!-- <a href="#home" class="nav-components">Home</a> -->
            <a class="nav-components" onclick="goToAbout()">About</a>
            <a class="nav-components" onclick="goToGallery()">Gallery</a>
            <!-- <a href="#events" class="nav-components">Events</a> -->
            <a onclick="goToEvents()" class="nav-components">Events</a>
            <a class="nav-components" onclick="goToTeam()">Team</a>
            <a class="nav-components" onclick="goToGame()">Game</a>
            <a href="mailto:iedc.sct@gmail.com" class="nav-components">
                <div class="contact">
                    <p>Contact</p>
                </div>
            </a>
            <button class="hamburger-icon" onclick="openMenu()">
                <img src="../static/icons/hamburger-icon.svg" alt="">
            </button>
        </div>
        <div class="responsive-navbar" id="menu">
            <div class="responsive">
                <button class="close-button" id="close-btn" onclick="closeMenu()"><img src="../static/icons/close-icon.svg" alt="x" class="close-icon"></button>
                <!-- <a href="#home" class="responsive-ptag" onclick="closeMenu()">Home</a> -->
                <a class="responsive-ptag" onclick="goToAbout()">About</a>
                <a class="responsive-ptag" onclick="goToGallery()">Gallery</a>
                <a onclick="goToEvents()" class="responsive-ptag" onclick="closeMenu()">Events</a>
                <a class="responsive-ptag" onclick="goToTeam()">Team</a>
                <a class="responsive-ptag" onclick="goToGame()">Game</a>
                <a href="mailto:iedc.sct@gmail.com" class="contact-button" style="/*! width: 20vw; */padding: 0;display: flex;justify-content: center;">
                    <button type="button" class="btn btn-success" style="width: 37vw;height: 12vw;">Contact</button>
                </a>
            </div>
        </div>
        <div class="quote">
            <p>“Innovation distinguishes between a leader and a follower”<br>-Steve Jobs</p>
            <!-- <p class="author">-Steve Jobs</p> -->
        </div>
        <div class="l-shape">
            <img src="../static/images/L-shape-inverted.svg" class="l1">
            <img src="../static/images/L-shape.svg" class="l2">
        </div>
        <div class="title">
            <div class="iedc">
                <p class="i_of_iedc">I</p>
                <p class="e_of_iedc">E</p>
                <p class="d_of_iedc">D</p>
                <p class="c_of_iedc">C</p>
            </div>
            <p class="sctce">SCTCE</p>
        </div>
        <div class="numerical_data">
            <img src="../static/icons/arrow-mob-view.svg" alt="" class="arrow-mob-view">
            <div class="box">
                <p class="field_name">Founding Year</p>
                <div class="square"><div class="number" data-n="2015">0</div></div>
            </div>
            <div class="box">
                <p class="field_name">No of Start-ups</p>
                <div class="square"><div class="number" data-n="12">0</div></div>
            </div>
            <div class="box">
                <p class="field_name">Active Members</p>
                <div class="square"><div class="number" data-n="50">0</div></div>
            </div>
            <div class="box">
                <p class="field_name">Execom Members</p>
                <div class="square"><div class="number" data-n="7">0</div></div>
            </div>
        </div>
    </div>
    <div class="aboutIEDC" id="about">
        <div class="titleAndContent">
            <div class="titleAndEditIcon">
                <h2 class="aboutTitle">Vision</h2>                
            </div>
            <p class="aboutContent">To develop a knowledge ecosystem with required infrastructure that can enable students and faculty to innovate and prototype their potential ideas with support from government, industry and reputed academic institutions around the world and help them to realize their potentials.</p>
        </div>
        <div class="titleAndContent">
            <div class="titleAndEditIcon">
                <h2 class="aboutTitle">About us</h2>                
            </div>
            <p class="aboutContent">IEDC SCTCE is aimed at direct involvement of the student community in the creation of a sustainable entrepreneurial ecosystem in our college. IEDC SCTCE will be a hub of activities of entrepreneurship development activities in our college under the IEDC program of the Kerala Startup Mission. We focus the promotion of Innovation (Entrepreneurship through Innovation) and that should lead to a startup. Basically it create a product development ecosystem in our college.</p>
        </div>
        <div class="titleAndContent">
            <div class="titleAndEditIcon">
                <h2 class="aboutTitle">Mission</h2>
            </div>
            <p class="aboutContent">To promote innovation and entrepreneurial culture in educational institutions and to develop institutional mechanism to foster techno-entrepreneurship for generation of wealth and employment.</p>            
        </div>
    </div>
    <div class="galleryAndEvents" id="gallery">
        <div class="gallery">
            <div class="gallery-header">
                <p class="gallerry headline">Gallery</p>
                <div class="controls">
                    <button class="left control" onClick = "scrollLeft()">
                        <img src="../static/icons/arrow.svg" alt="">
                    </button>
                    <button class="right control" onClick = "scrollRight()">
                        <img src="../static/icons/arrow.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="carouselContaier">
                <div class="carousel1">
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/1-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div>
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/2-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div>                                 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/3-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/4-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/5-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/6-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/7-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/8-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/9-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/10-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div> 
                    <div class="gallery-image">
                        <img src="../static/images/Gallery/11-min.jpg" alt="" class="carousel-img" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
        <div class="events" id="events">
            <div class="gallery-header">
                <p class="gallerry headline">Events</p>                
            </div>
            <div class="events-section">
                
                        <div class="liveNow event">
                            <p class="typeofEVent">Core Events</p>
                            <div class="eventCarousel">
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Core1.png" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Core2.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Core3.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Core4.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                            </div>
                        </div>
                        <div class="comingSoon event">
                            <p class="typeofEVent">Workshops & Quizes</p>
                            <div class="eventCarousel rtl">
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Workshops 1.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Workshops2.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Quiz1.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Quiz2.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>                                 
                            </div>
                        </div>
                        <div class="liveNow event">
                            <p class="typeofEVent">Non Technical</p>
                            <div class="eventCarousel">
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Non technical 1.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Non technical 2.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Non technical 3.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Non technical 4.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Non technical 5.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Non technical 6.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Non technical 7.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                            </div>
                        </div>
                        <div class="comingSoon event lastEvent">
                            <p class="typeofEVent">Talks</p>
                            <div class="eventCarousel rtl">
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Talk1.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Talk2.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Talk3.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Talk4.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                                <div class="gallery-image eventCard">
                                    <img src="../static/images/IEDC Event Posters/Talk5.jpg" alt="" class="carousel-img eventCardImg" loading="lazy">
                                    <!-- <button class="info-icon edit-icon insideEvent" data-toggle="modal" data-target="#">
                                        <img src="../static/icons/info-icon.svg" class="info-i">
                                    </button> -->
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="team" id="team">
        <div id="carouselExampleControls" class="carousel slide customSlide slides" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active slidePadding">
                <p class="headline">Team</p>
                <div class="teamsSlide1">
                    <div class="gallery-image eventCard teamGroupImgContainer">
                        <img src="../static/images/Gallery/11.jpg" alt="" class="carousel-img eventCardImg teamGroupImg" loading="lazy">
                    </div>
                    <div class="teamQuote">
                        <p class="quoteStatemenr">“Coming together is a beginning staying together is progress, working together is success”</p>
                        <p class="quoteAuthor">-Henry Ford</p>
                    </div>
                </div>
              </div>
              <div class="carousel-item slide">
                <div class="container">
                    <div class="membersContainer">
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Sabu V R.jpeg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Sabu V R</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Nodal Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Abhiram S.jpeg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Abhiram S</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Chief Executive Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://instagram.com/_abhirxm_suresh_?igshid=YmMyMTA2M2Y="><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/abhiram-s-5b0516190"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Hiba shabu.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Hiba Shabu</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Chief Operating Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Madhav Manoj Nair.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Madhav Manoj Nair</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Chief Finance Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://instagram.com/_.man.may._?igshid=YmMyMTA2M2Y="><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/madhav-manoj-870500201"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Jayalakshmi MA.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Jayalekshmi M A</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Chief Marketing Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://instagram.com/j_lx_my?igshid=YmMyMTA2M2Y="><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/jayalakshmi-ma-448678213"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/ANANDHU S.jpeg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Anandhu S</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Chief Technical Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="https://www.facebook.com/anandhu.s.7798/"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.instagram.com/a_na_nd_hu_s/"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/anandhu-s-2337661b7/"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Amrutha V.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Amrutha V</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Chief Social Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://instagram.com/_ahturma_?igshid=YmMyMTA2M2Y="><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/amrutha-v-786394195"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Roshni G.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Roshni G</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Chief Creative Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="https://www.facebook.com/roshni.prakash.1840"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.instagram.com/invites/contact/?i=mvlwjwo9phxs&utm_content=3enyo3d"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/roshni-g-493028213"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item slide">
                <div class="container">
                    <div class="membersContainer">
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Bhagya.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Bhagyalekshmi U</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Content Lead</p>
                                <div class="socialMediaHandles">
                                    <a href="https://www.facebook.com/profile.php?id=100011649462576"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.instagram.com/invites/contact/?i=1k0z1rhd4iijh&utm_content=23k5xt7"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/bhagya-lekshmi-u-3541blu"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Abhishek K.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Abhishek K</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Design Lead</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Anugraha Vincent.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Anugraha Vincent</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Marketing Lead</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://instagram.com/anugrahavincent?igshid=YmMyMTA2M2Y="><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/anugraha-vincent-167392219"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="membersContainer">
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Ajith R T.jpg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Ajith R T</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Technical Lead</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.instagram.com/_ajith_rt_/"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/ajith-rt-3758a41a5/"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Akshay V.jpeg" alt="" class="teamMemberImg" loading="lazy">
                                <p class="teamMemberName">Akshay V</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Volunteering Lead</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.instagram.com/_ak__sh___ay/"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="https://www.linkedin.com/in/akshay-v-12a9a61a8/"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Sabu V R.jpeg" alt="" class="teamMemberImg">
                                <p class="teamMemberName">Sabu V R</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Nodal Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Sabu V R.jpeg" alt="" class="teamMemberImg">
                                <p class="teamMemberName">Sabu V R</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Nodal Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="teamMember">
                            <div class="photoName">
                                <img src="../static/images/Members/Sabu V R.jpeg" alt="" class="teamMemberImg">
                                <p class="teamMemberName">Sabu V R</p>
                            </div>
                            <div class="roleSocialMediaHandles">
                                <p class="teamMemberRole">Nodal Officer</p>
                                <div class="socialMediaHandles">
                                    <a href="#"><img src="../static/icons/fb-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/insta-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                    <a href="#"><img src="../static/icons/linkedin-teamMember.svg" alt="" class="memberSocialMediaIcon"></a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon customArrow leftArrow" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon customArrow" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="game-section" id="game">
        <!-- <embed src="../static/images/Layer1upstack.svg" class="game-bg"> -->
        <img src="../static/images/Rectangle-game-bg1.jpg" class="game-bg">
        <div class="game-section-left-right">
            <div class="game-left-part">
                <div class="presents">
                    <p class="iedc-sctce">IEDC SCTCE</p>
                    <p class="present">presents</p>
                </div>
                <div class="game-name">
                    <img src="../static/images/UPSTACKupstack.png" alt="upstack" class="">
                </div>
                
                <a href="/intermediate" class="play-game">play game</a>
                <p class="game-guidelines">Welcome to up stack! <br>
                    Guidlines<br>
                    🔥Build the largest skyscraper possible by piling the blocks one above the other.<br>
                    🔥A player may participate as often as desired.<br>
                    🔥The highest-scoring class wins.<br>
                    🔥The points earned by each player will be added to the class total.<br>
                    🔥The organisers will make the final determination in the event of any disagreement.<br>
                    Start stacking!!</p>
            </div>
            <div class="game-right-part">
                <p class="leaderboard">Leaderboard</p>
                <div class="leaders">
                    {% for record in sorted_records %}
                    {% if loop.index == 1 %}
                    <div class="leader first">
                        <p class="leader-number">1</p>
                        <p class="leader-name">{{record["Class"]}}</p>
                        <p class="leader-point">{{record["Score"]}}</p>
                    </div>
                    {% else %}
                    <div class="leader">
                        <p class="leader-number">{{loop.index}}</p>
                        <p class="leader-name">{{record["Class"]}}</p>
                        <p class="leader-point">{{record["Score"]}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="contactSection">
        <div class="contactHeader">
            <p class="headline contactTitle">Get in Touch !!</p>
            <button class="edit-icon" class="scrollTop_top" id="scrollToTop" onclick="goToTop()">
                <img src="../static/icons/up-arrow.svg" alt="" class="pen">
            </button>
        </div>
        <div class="subSection">
            <div class="leftSection">
                <div class="iframeContainer">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31570.179162978788!2d76.97678504229738!3d8.472871564370864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05baee56e6b99b%3A0x4ce024c88eb0ddcb!2sSree%20Chitra%20Thirunal%20College%20of%20Engineering%2C%20Thiruvananthapuram!5e0!3m2!1sen!2sin!4v1650136957942!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="rightSection">
                <div class="contactDetails">
                    <img src="../static/icons/Location-icon.svg" alt="" class="contactIcon">
                    <p class="contactText">NH 66, CTO Colony, Pappanamcode, Thiruvananthapuram, Kerala, 695018.</p>
                </div>
                <div class="contactDetails">
                    <img src="../static/icons/Mail-icon.svg" alt="" class="contactIcon">
                    <p class="contactText">iedc.sct@gmail.com</p>
                </div>
                <div class="contactDetails">
                    <img src="../static/icons/Call-icon.svg" alt="" class="contactIcon">
                    <p class="contactText">+91 9447388555</p>
                </div>
                <div class="socialIconSet">
                    <a href="https://www.facebook.com/iedcsctce/"><img src="../static/icons/fb-icon.svg" alt="" class="socialIcon"></a>
                    <a href="https://www.linkedin.com/company/iedcsctce/mycompany/"><img src="../static/icons/Linkedin-icon.svg" alt="" class="socialIcon"></a>
                    <a href="https://www.instagram.com/iedc_sctce/"><img src="../static/icons/Insta-icon.svg" alt="" class="socialIcon"></a>
                </div>
            </div>
        </div>
        <p class="footerText">© Copyright IEDC SCTCE. All Rights Reserved</p>
    </div>
    <script src="../static/js/navBar.js"></script>
    <script src="../static/js/preloader.js"></script>
    <script src="../static/js/scrollToPosition.js"></script>
    <!-- <script src="../static/js/waypointsMin.js"></script>
    <script src="../static/js/counterUpMin.js"></script> -->
    <script src="../static/js/gallerySlider.js"></script>
    <script src="../static/js/siteAnalyticsNumber.js" language="JavaScript"></script>
    <script src="../static/js/numberAnimation.js" language="JavaScript"></script>
    <script src="../static/bootstrap-4.0.0/slim.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>   
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
